<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
<head th:fragment="site-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/bootstrap.bundle.js}" async></script>
    <title></title>
</head>
<body>
<header th:fragment="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0056b3; box-shadow: 0 2px 4px rgba(0,0,0,0.15);">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" aria-label="Home">
                <img th:src="@{/images/logoEfe.jpg}" alt="Logo Tienda EFE" width="100" height="auto" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/product/}">Productos</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cart}" aria-label="Shopping Cart">
                            <img src="/images/cart-icon.jpg" alt="Carrito" width="24" height="24">
                        </a>
                    </li>
                </ul>
				<div class="d-flex" sec:authorize="isAuthenticated()">
				    <form th:action="@{/logout}" method="post" id="logoutForm" class="d-flex align-items-center">
				        <!-- Nombre del usuario autenticado como enlace a la edición de cuenta -->
				        <a href="#" th:href="@{/user/edit-account}" class="text-white me-2">
				            <strong sec:authentication="name"></strong>
				        </a> |
				        <button type="submit" class="btn btn-link btn-sm text-white p-0 ms-2"
				                onclick="return confirm('¿Estás seguro de que quieres cerrar sesión?');">
				            Cerrar Sesión
				        </button>
				    </form>
				</div>
           </div>
        </div>
    </nav>
</header>
</body>
</html>