<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
<header th:fragment="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0056b3; box-shadow: 0 2px 4px rgba(0,0,0,0.15);">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logoEfe.jpg}" alt="Logo Tienda EFE" width="100" height="auto" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/send-sms-form}">SMS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
