<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer">
    <div class="info-section py-3">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-3">
                    <img src="/images/store-icon.png" alt="Retira en tienda" class="footer-icon">
                    <h5>Retira tu Compra en Tienda</h5>
                    <p>200 tiendas y puntos de retiro en todo el Perú</p>
                </div>
                <div class="col-md-3">
                    <img src="/images/shipping-icon.png" alt="Envíos a todo Perú" class="footer-icon">
                    <h5>Envíos a Todo el Perú</h5>
                    <p>Más de 1800 distritos</p>
                </div>
                <div class="col-md-3">
                    <img src="/images/headset-icon.png" alt="Atención al Cliente" class="footer-icon">
                    <h5>Atención al Cliente</h5>
                    <p>(01) 200-2890</p>
                </div>
                <div class="col-md-3">
                    <img src="/images/headset-icon.png" alt="Contáctanos por Whatsapp" class="footer-icon">
                    <h5>Contáctanos por Whatsapp</h5>
                    <p>943 199 200</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid text-section">
        <div class="row">
            <div class="col-md-3">
                <h5>Mi Cuenta</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Regístrate</a></li>
                    <li><a href="#">Inicia sesión</a></li>
                    <li><a href="#">Sigue tu pedido</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Tiendas EFE</h5>
                <ul class="list-unstyled">
                    <li><a href="#">¿Quiénes somos?</a></li>
                    <li><a href="#">Nuestras tiendas</a></li>
                    <li><a href="#">Beneficios</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Compra Seguro</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Centro de ayuda</a></li>
                    <li><a href="#">Devoluciones, cambios y garantías</a></li>
                    <li><a href="#">Cómo comprar</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Síguenos</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3 rights-reserved">
            <div class="col-12 text-center">
                <p>© 2024 Derechos Reservados - Tienda EFE</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
