<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_frag/Base::site-head}"></head>
<body>
<header th:replace="~{_frag/Base::site-header}"></header>

<div class="container">
    <div class="offer-banner">
        <h1>Descubre Nuestras Ofertas Especiales</h1>
        <p>¡Aprovecha ahora y no te pierdas nuestras últimas promociones!</p>
    </div>
</div>

<footer th:replace="~{_frag/Footer::footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>