<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar SMS</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <header th:replace="_frag/Base::site-header"></header>
    <div class="container mt-4">
        <h1>Enviar SMS</h1>
        <form action="/send-sms" method="post" class="mb-4">
            <div class="form-group mb-3">
                <label for="to">Número de Teléfono:</label>
                <input type="text" id="to" name="to" class="form-control" aria-label="Número de Teléfono" required>
            </div>
            <div class="form-group mb-3">
                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" class="form-control" aria-label="Mensaje" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <div id="response-messages">
            <span class="text-success" th:text="${success}"></span>
            <span class="text-danger" th:text="${error}"></span>
        </div>
    </div>
	<div th:replace="_frag/Footer :: footer"></div>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>
